scrollbar {
    background-color: #89380F;
}

scrollbar slider {
    min-width: 0.5em;
    min-height: 0.5em;
    border-radius: 6px;
    background-color: #391807;
}

scrollbar slider:hover {
    background-color: #ffe4a7;
}
 