* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16pt;
  font-weight: 800;
  transition-property: background;
  transition-duration: 0.5s;
}

#waybar.top {
  background: none;
}
#waybar.top > box.horizontal {
  background: rgba(163, 60, 0, 0.8);
  border-radius: 12pt;
  margin: 15pt;
  padding: 6pt;
}

#waybar.bottom box.modules-center {
  background: #181825;
  margin-top: 5pt;
  padding: 0 4pt;
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  box-shadow: 0 0 3pt #181825;
}

#waybar *:hover {
  color: #391807;
}

#workspaces {
  margin-left: 12pt;
}
#workspaces button {
  color: #ffe4a7;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: #ffe4a7;
}
#workspaces button.active {
  color: #ffe4a7;
}
#workspaces button:hover, #workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:focus:not(.active):not(.visible) {
  color: #ffe4a7;
}

#mpris {
  background: #bd450e;
  color: #ffe4a7;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  color: #ffe4a7;
  margin-right: 20pt;
}

#clock {
  color: #ffe4a7;
}

#custom-gpu-usage {
  margin-right: 34pt;
  color: #ffe4a7;
}

#cpu {
  margin-right: 30pt;
  color: #ffe4a7;
}

#disk {
  color: #ffe4a7;
  margin-right: 24pt;
}

#memory {
  color: #ffe4a7;
  margin-right: 30pt;
}

#backlight {
  color: #ffe4a7;
  margin-right: 25pt;
}

#pulseaudio {
  color: #ffe4a7;
  margin-right: 30pt;
}


#battery {
  color: #ffe4a7;
  margin-right: 30pt;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
  color: #ffe4a7;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-screenshot {
  margin-right: 20pt;
  color: #ffe4a7;
}
